*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}
h1 {
  padding: 0;
  margin: 0;
}
.nav-container {
  background-color: black;
  color: white;
}
.nav--image--link__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container img {
  max-height: 4rem;
}
.nav-links {
  display: flex;
  gap: 3em;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: white;
  text-decoration: none;
}
.flex-container {
  display: flex;
}
.flex-container img {
  max-width: 50%;
}
.right-container {
  display: flex;
  flex-direction: column;
}
.right-section {
  display: flex;
  flex-direction: column;
}
.top-right {
  background-color: #fac022;
  flex: 1;
  text-align: right;
  font-size: 5em;
  padding-right: 3rem;
  line-height: 0.9;
  padding-top: 0.3em;
}
.bottom-right {
  flex: 1;
  text-align: right;
  justify-content: center;
  padding-right: 3rem;
}
.bottom-right-heading {
  font-size: 2em;
}
.bottom-right-text {
  text-align: right;
  padding-left: 17em;
}

.container {
  position: relative;
}
/*  */
.positioned-div {
  position: absolute;
  bottom: 0%;
  left: 44%;
}
.positioned-img {
  padding: 4em;
  background-color: #fac022;
  height: 13rem;
  width: 18rem;
  border-top-left-radius: 4em;
  position: relative;
}
.img1,
.img2 {
  max-width: 4em;
}
.img1 {
  position: absolute;
  top: 30%;
}
.img2 {
  position: absolute;
  right: 20%;
  bottom: 5%;
}
.top-post-text {
  width: 5em;
  font-size: 2em;
  position: absolute;
  bottom: 9%;
  left: 30%;
}

.footer {
  background-color: black;
  padding-top: 0.65em;
  padding-bottom: 0.65em;
}
.footer--link__wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo img {
  max-width: 1em;
}
.button {
  background-color: #fac022;
  border-radius: 15px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
.site-address a {
  text-decoration: none;
  color: white;
}
